Repository caicloud/external-storage, pull requests merged in 2018-04, with the labels that each got.

#5 feat(OWNER): change owner file
  OWNERS
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XS

#2 feat(nfs-client-multiple): fix mount
  nfs-client-multiple/deploy/class.yaml
  nfs-client-multiple/deploy/deployment.yaml
  nfs-client-multiple/deploy/docker/nfs-multiple-provisioner/Dockerfile
  nfs-client-multiple/pkg/provision/const.go
  nfs-client-multiple/pkg/provision/manager.go
  nfs-client-multiple/pkg/provision/mount.go
  nfs-client-multiple/pkg/provision/provisioner.go
Labels: approved, caicloud-cla: yes, lgtm, size/M

#6 fix(nfs-client-multiple): add mount opt 'nolock', fix deploy yaml, update version
  nfs-client-multiple/Makefile
  nfs-client-multiple/deploy/class.yaml
  nfs-client-multiple/deploy/deployment.yaml
  nfs-client-multiple/deploy/test-claim.yaml
  nfs-client-multiple/deploy/test-pod.yaml
  nfs-client-multiple/pkg/provision/const.go
  nfs-client-multiple/pkg/provision/manager.go
Labels: approved, caicloud-cla: yes, lgtm, release-note, size/M
